.vaccines-list {
    width: 50%;
    
}

.vaccine-item-current {
    gap: 10px;
    margin-bottom: -30px;

}

.vaccine-item {
    width: 100%;
}

.delete-vaccine {
    width: 25%;
}

.add-vaccine-main .modal-button-vaccine-text, .add-treatment-main .modal-button-flea-text, .add-treatment-main .modal-button-worm-text {
    display: none;
}