.App {
  text-align: center;
  width: 100%;
}

/* div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
} */


.div-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.div-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

li {
  list-style: none;
}

:root {
  --main-green: #00A898;
}