.header {
    background-color: var(--main-green);
    color: white;
    text-transform: uppercase;
    height: 50px;
    /* position: fixed;
    top: 0; */
}


.footer ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.footer {
    background-color: var(--main-green);
    color: white;
    text-transform: uppercase;
    height: 50px;
    position: fixed;
    bottom: 0;
}

.footer a {
    color: white;
    text-decoration: none;
}