.treatments-list {
    width: 50%;
    
}

.treatment-item-current {
    gap: 10px;
    margin-bottom: -30px;

}

.treatment-item {
    width: 50%;
}

.delete-treatment {
    width: 25%;
}

.treatments .modal-button-flea-icon, .treatments .modal-button-worm-icon {
    display: none;
}