.App {
  text-align: center;
  width: 100%;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.div-column {
  flex-direction: column;
}

.div-row {
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  list-style: none;
}